p {
  line-height: 1.6em;
  max-width: 600px;
}

.text {
  margin: auto;
}

p a {
  color: #408d66;
}

.summary {
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.summary a:hover {
  font-weight: bold;
}

#up {
  background: url('./up.png') center;
  background-size: cover;
  width: 60px;
  height: 60px;
  /* display: none; */
  position: fixed;
  opacity: 0;
  bottom: 24px;
  right: 52px;
  z-index: 99;
  cursor: pointer;
  border-radius: 4px;
}
